@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">

   <h3>@Model.Message</h3>
    <table class="table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contacts in Model.Customers)
            {
            <tr>
                <td>@contacts.Id</td>
                <td>@contacts.Name</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@contacts.Id">Edit</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="@contacts.Id">Delete</button>
                </td>
            </tr>

            }
            

        </tbody>

    </table>
    <a asp-page="./Create">Create</a>
</form>